<app-main-header></app-main-header>
<main class="u-pb-x10 u-pt-x32">
  <section class="o-container">
    <article class="u-mb-x12">
      <h2 class="u-mb-x4">Typography</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id provident
        velit reiciendis blanditiis qui, iure sequi in! Aperiam error quibusdam
        necessitatibus voluptatem neque possimus, facere, reiciendis consequatur
        id tempore quas.
      </p>
      <div>
        <div fxFlex>
          <div class="mat-display-4">Display 4</div>
        </div>
        <div class="u-text-right@sm">Noto / 2.887rem / 1.3</div>
      </div>
    </article>
  </section>
</main>
<app-main-footer></app-main-footer>
